.game-container {
    background: rgb(38, 114, 28);
    height: 100vh;  
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.game-container h1 {
    display: block;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    color: rgb(34, 97, 25);
}

.game-container .card-container {
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13%;
    grid-template-areas: a b c;
    background: rgb(40, 146, 25);
    padding: 20px;
    border: 2px solid #FFF;
    grid-template-areas: a b c;
}

.game-container .player-1 {
    bottom: 0;
    border-bottom: 0;
}

.game-container .player-2 {
    top: 0;
    border-top: 0;
}

.game-dropzone {
    height: 100%;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.game-dropzone h1 {
    margin: auto;
}

.dropzone {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-dragging-zone {
    background: rgba(40, 146, 25, 0.2);
}

.is-dragging {
    border: 1px dashed #FFF;
}

.is-dragging-card {
    opacity: 0.4;
}